Clean up websocket closing code

The code in `websocket.rs` related to closing the connection is difficult to read and reason about for a number of reasons. I propose the following:
* we add a method named `close_the_websocket_connection` which creates a `CloseTask` and dispatches it to the script event loop
* document that `CloseTask` implements the steps [described in the spec](https://html.spec.whatwg.org/multipage/comms.html#closeWebSocket)
* move the fields of WebSocket that are only used by CloseTask into CloseTask (such as `reason`, `clean_close`, `code`, etc.) and add constructors with meaningful names as appropriate

I'd like to work through this!

That would be great!

Are there docs somewhere about how the task system interacts with the WebIDL bindings? I’m trying to understand when [`WebSocket::Close`][ws-close] would be invoked in the current implementation.

- The `WebSocket::Constructor` function fires `CloseTasks` ([here] [close1] and [here] [close2]) for different failure conditions.
- Within `WebSocket::Close`, there's [`send_close`] [send-close] function, which seems to interact with the underlying websocket client library to manage the close handshake.
- Within the handler for CloseTask, it fires a [CloseEvent] [c-event].

There don't seem to be any other references to `CloseTask`, but it has some necessary logic from the spec. Would a `CloseTask` ever be fired through the JavaScript bindings? Or does that only trigger `WebSocket::Close`?

[ws-close]: https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L378
[close1]: https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L251-L254
[close2]: https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L277-L280
[send-close]: https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L379-L389
[c-event]: https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L509

Those are great questions! I think the docs you're looking for are [here](http://doc.servo.org/servo/script/dom/bindings/index.html). Specifically, JS code will only invoke methods that are part of the `WebSocketMethods` trait, in this case. `WebSocket::Close` corresponds to `ws.close(...)` from JS.

@anthgur / @Wafflespeanut / @jdm: Am I understanding the removal of C-assigned correctly, as meaning that this is no longer being worked on? If so, I'd like to take a crack at this.

@jsanders Yes that is correct, this issue is up for grabs. I'll mark this as assigned.

@jsanders Any updates on this?

@KiChjang: Yeah, apologies for the slowness, I got a bit blocked trying to figure out some wpt tests that I either broke or fixed, and then #8867 happened, so I'm currently re-working stuff to work on top of that. Planning on pushing something up this weekend!

@KiChjang / @jdm: I'm finally getting back to this, but I've run into something I could use some guidance on.

When I looked at this before, a tricky part of it was communicating the close code and reason between when the client starts the closing handshake, and when the server acknowledges it. But upon further reading of RFC 6455, [section 7.1.5](https://tools.ietf.org/html/rfc6455#section-7.1.5) states: "_The WebSocket Connection Close Code_ is defined as the status code contained in the first Close control frame received by the application implementing this protocol." Section 7.1.6 makes a similar statement about close reason. My interpretation of this is that the code and reason used should be those *received* in a Close frame, rather than those *sent*.

The current implementation doesn't work that way, and my changes ran afoul of some of the WPT tests that check status codes, for instance [this one](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/websockets/Secure-Close-1005-verify-code.htm). I tracked it down to [this code in pywebsocket](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/tools/pywebsocket/src/mod_pywebsocket/_stream_hybi.py#L651-L652), which unconditionally sets the server's close code to 1000 and reason to "".

Am I misinterpreting the spec, or is the test implementation incorrect?

D'oh, my reading of the pywebsocket code was very poor – I see now that it's possible to override the close handler to make it echo code and reason from the client. But I'm still unsure whether doing so would make sense.

@jsanders Your reading of the spec looks correct to me. I'd be curious if it passes as written in Firefox and Chrome today, and tempted to modify the test server to echo the provided code and reason.

@jdm: Ok I'm glad I'm not crazy. Unfortunately, I get [some sort of ssl cert error](https://gist.github.com/jsanders/b0b3b6319e197fcddf52) when running the test in Firefox locally, but on w3c-test.org, it fails in the way I expect:

<img width="1357" alt="screenshot 2016-01-10 23 23 11" src="https://cloud.githubusercontent.com/assets/38320/12227901/2b3e077c-b7f1-11e5-99c7-fc847b4dcf45.png">

That's exactly what I get with my patch to the behavior, so it seems like Firefox is interpreting it the same way, though I haven't dug into the code to be completely sure.

Chrome's behavior is wonkier – the close event ends up with code 1006 ("abnormal"). I thought maybe it was comparing the client and server codes and flagging it as abnormal if they don't match, but I hardcoded the server side to return 1005, and got the same results, so I'm not sure what to think.

I'll start looking into modifying the test server behavior.

FWIW, I'd probably want to submit the changes to the test server upstream to ensure that the right eyes see those changes.

@jdm: Alright, I think I figured this out. The confusion is that [section 7.4.1](https://tools.ietf.org/html/rfc6455#section-7.4.1) states that code 1005 is reserved to communicate that there was no code and should never actually be sent across the wire. So the right answer is to send *no* `code` in this case, expect no `code` to be echoed back, and set the `code` of the event to 1005 to communicate that this is what happened. The WPT websocket echo handler still needs to be updated to work that way, though – currently it sends back 1000 instead of nothing. Do you think I should send that change upstream first, or include it in a PR here first?

@jdm: I went ahead and [pushed that change](https://github.com/jsanders/servo/commit/70a6c98cf29c951736abd5400c89fb4aacd01913#diff-9c8104fd30f97ad492b8c867d5d7dc03), so you can take a look. It fixes my tests, and I believe it would make firefox pass more of these tests.

I think I'd need to see how that change interacts with the other changes, since I still feel like I'm missing part of the picture here.

@jdm: Just pushed #9358, with all the changes for this.