WPT cookies/name/name-ctl.html ERROR investigation

Currently, we fail to run the tests other than the first one because we fail to cleanup in the first test.

![cookie name test failure](https://user-images.githubusercontent.com/6782666/114975746-c1112300-9ebf-11eb-928e-b276d12039cb.png)

In the test, it will run the `dropAllDomCookies` on `cleanup` but it fails to assert inside the function

https://github.com/web-platform-tests/wpt/blob/d69b6ed41a784586305b02fdafcc486acad20038/cookies/resources/cookie-test.js#L126-L136

then, I noticed the date format for `expires` might be related to the issue (there's no `weekday` in it).

with reading [`RFC6265`#section-4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1), I found there are 2 specs are referred to

```
 expires-av        = "Expires=" sane-cookie-date
 sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>
```

Currently, `cookie-rs` only supports date format with weekday which is spec-ed in RFC2616 section section 3.3.1. 

https://github.com/SergioBenitez/cookie-rs/blob/aa638daeec0b539daa5a981758c6b234b582142e/src/parse.rs#L222-L232

so I tried to check [`RFC1123`](https://tools.ietf.org/html/rfc1123#page-55) and it points to https://tools.ietf.org/html/rfc822#section-5.1 

Per [RFC822#section-5.1](https://tools.ietf.org/html/rfc822#section-5.1), the weekday is optional

so, IMO, the date format in the WPT test (`cookies/resources/cookie-test.js`) is correct and we might want to file an issue to cookie-rs and fix it upstream

```
     date-time   =  [ day "," ] date time        ; dd mm yy
                                                 ;  hh:mm:ss zzz
```

---

Also, with updating the `expires` to `Thu, 01 Jan 1970 00:00:00 GMT`, I'm able to run the `cookies/name/name-ctl.html` test with status OK but we will get failures for all tests. I will investigate the failure after fixing the cookie-rs expires date format issue.

![image](https://user-images.githubusercontent.com/6782666/114980104-ed7c6d80-9ec6-11eb-90d1-8a4186bb0614.png)

