Meta: Header handling

Servo uses a combination of http::headers and hyper::headers which is sometimes confusing, causes compatibility issues or doesn't meet the needs of modern browser interop. As additional web features are developed, Servo may need more agility in being able to define, parse and encode headers. Currently support for additional headers is spread out in multiple locations. 

`hyper::headers` sees very few updates and Servo increasingly runs into issues dealing with headers that either are not supported or are missing features or full spec compliance.

`http::headers` strongly enforces that `HeaderValue` only contains visible ASCII, but this is too restrictive (maybe? see spec note below) 

### Current areas for improvement:
- Quality values: this accounts for the majority of "disabled" headers in the hyper headers crate. Servo has `shared/net/quality.rs` that includes some types for dealing with quality values that do not appear to be used anywhere. Servo uses static quality string values everywhere currently.
- `net/fetch/headers.rs` currently defines the various `sec-fetch-*` headers and does not support parsing these values. The main benefit of being able to parse these would be type safety but I don't actually see this value being checked against anywhere currently.
- `script/dom/headers.rs` implements the DOM Header type but includes some parsing and encoding code that could be shared with other parts of Servo.
- `Content-Disposition` is incapable of parsing or encoding anything beyond the content disposition type. This is makes dealing with multipart/form-data particularly painful.
- `Cross-Origin-Resource-Policy` could gain type safety from implementing the Header type for it.
- There's a few TODO comments in the code base for headers that currently do not have their own types.


### Issues with various libraries, specs, and the real world
- `Access-Control-Request-Headers` unfortunately is an outlier in how it joins values so we currently have to manually join these values.
- The specs seem to disagree on whether non-ASCII or even invalid UTF-8 are allowed in headers. Some WPT tests exist that expect non-ASCII values to be retained/reflected.

### Proposed work:
- Centralize helpers for defining, parsing, and encoding headers
- Migrate currently untyped header usage to typed headers where possible

### Open questions:
- How strictly to follow (which?) specs and how much to follow the behavior of other browsers

<hr/>

Relevant specs: 
- [RFC9110](https://datatracker.ietf.org/doc/html/rfc9110) which obsoletes [RFC7230](https://datatracker.ietf.org/doc/html/rfc7230)
- [RFC2616](https://datatracker.ietf.org/doc/html/rfc2616)
- Structured field proposals for defining new headers: [RFC9651](https://www.rfc-editor.org/rfc/rfc9651) which obsoletes [RFC8941](https://www.rfc-editor.org/rfc/rfc8941.html)
- There are also many RFCs and W3C specs for specific headers.

> Centralize helpers for defining, parsing, and encoding headers

Just head's up there are two specs for parsing MIME used by different parts of web (mime sniff and RFC) IIRC.

Yes, MIME and charset handling seem to be adjacent issues that will also need a bit of work to support these header issues.

> How strictly to follow (which?) specs and how much to follow the behavior of other browsers

I think for the purposes of a general web engine, we must defer to real web content rather than the specification. If there are headers out there that have non-ASCII values we should probably support them.

> > How strictly to follow (which?) specs and how much to follow the behavior of other browsers
> 
> I think for the purposes of a general web engine, we must defer to real web content rather than the specification. If there are headers out there that have non-ASCII values we should probably support them.

Agreed, and thats a bit of a problem we'll have to deal with when using `http::headers`. Part of the reason I started writing this issue was because I wanted to document all the various non-spec behaviors I was running into when trying to write my own parser for `Content-Disposition`. Turns out the browsers accept a lot of stuff that is isn't very spec compliant.

I am wondering if we'll need flags/options to enable stricter/looser parsing based on the context as well. My main concern with that is potential security issues where values are not being parsed/validated the same way at different points allows something to get through that shouldn't.

https://wpt.fyi/results/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html?product=servo is probably affected by this as well. It checks for various policy names and I think the current header parsing is rejecting these values. I have yet to fully investigate, but they seem to be related as the current code only calls `to_str()` on the header value: https://github.com/servo/servo/blob/f370606fa81851f2a401534adb5b91d7c456e4cc/components/script/dom/globalscope.rs#L2530-L2532

Yeah that `to_str` would drop HeaderValues with ["opaque bytes"](https://docs.rs/http/latest/http/header/struct.HeaderValue.html) so that would result in non-visible-ascii bytes to return Err.

https://github.com/servo/servo/issues/38000 there is a need for being able to preserve HTTP/1 header name casing